* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg {
    background-color: aqua;
    background-image: url("image/pexels-pixabay-268533.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}